%h1 Listing ebay_items
%table
  %thead
    %tr
      %th Product
      %th Item
      %th Title
      %th Global
      %th Category name
      %th Gallery url
      %th View item url
      %th Shipping service cost currency
      %th Shipping service cost value
      %th Shipping type
      %th Handling time
      %th Current price currency
      %th Current price value
      %th Bid count
      %th Selling state
      %th Best offer enabled
      %th Buy it now available
      %th Start time
      %th End time
      %th Listing type
      %th Returns accepted
      %th Condition display name
      %th{:colspan => "3"}
  %tbody
    - @ebay_items.each do |ebay_item|
      %tr
        %td= ebay_item.product
        %td= ebay_item.item_id
        %td= ebay_item.title
        %td= ebay_item.global_id
        %td= ebay_item.category_name
        %td= ebay_item.gallery_url
        %td= ebay_item.view_item_url
        %td= ebay_item.shipping_service_cost_currency_id
        %td= ebay_item.shipping_service_cost_value
        %td= ebay_item.shipping_type
        %td= ebay_item.handling_time
        %td= ebay_item.current_price_currency_id
        %td= ebay_item.current_price_value
        %td= ebay_item.bid_count
        %td= ebay_item.selling_state
        %td= ebay_item.best_offer_enabled
        %td= ebay_item.buy_it_now_available
        %td= ebay_item.start_time
        %td= ebay_item.end_time
        %td= ebay_item.listing_type
        %td= ebay_item.returns_accepted
        %td= ebay_item.condition_display_name
        %td= link_to 'Show', ebay_item
        %td= link_to 'Edit', edit_ebay_item_path(ebay_item)
        %td= link_to 'Destroy', ebay_item, method: :delete, data: { confirm: 'Are you sure?' }
%br
  = link_to 'New Ebay item', new_ebay_item_path
