= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :product
    - if @product
      = f.select :product_id, options_for_select(@product_options, @product.id), {include_blank: true}, class: "form-control"
    - else
      = f.select :product_id, options_for_select(@product_options), {include_blank: true}, class: "form-control"
  .field
    = f.label :locale
    - if @product
      = f.text_field :locale, value: @product.currency, class: "form-control"
    - else
      = f.text_field :locale, class: "form-control"
  .field
    = f.label :price_original
    - if @product
      = f.number_field :price_original, value: @product.price, class: "form-control"
    - else
      = f.number_field :price_original, class: "form-control"
  .field
    = f.label :price_yen
    = f.number_field :price_yen, class: "form-control"
  .field
    = f.label :cost
    = f.number_field :cost, class: "form-control"
  .field
    = f.label :shipping_cost
    - if @product
      = f.number_field :shipping_cost, value: @product.shipping_cost, class: "form-control"
    - else
      = f.number_field :shipping_cost, class: "form-control"
  .field
    = f.label :profit
    = f.number_field :profit, class: "form-control"
  .form-inline
    .field
      = f.label :sold_at
      = f.date_select :sold_at, {}, class: "form-control"
  .field
    = f.label :memo
    = f.text_area :memo, class: "form-control"
  .actions
    = f.submit 'Save', class: "btn btn-default"
