.col-sm-3.col-xs-6.product
  - if product.image_url1
    = link_to image_tag(product.image_url1.sub(/.jpg$/, "._SL120_.jpg"), class: "img-responsive portfolio-product"), product.image_url1, "data-lightbox" => product.image_url1, "data-title" => product.title
  - else
    = image_tag "/missing_120.png", alt: "No Image", class: "img-responsive portfolio-product"
  %ul
    %li= link_to product.title, product
    %li
      %h5{data:{no_turbolink: true}}= link_to product.category, "#{products_path}/category/#{product.category}"

    %li= "#{t('activerecord.attributes.product.price')}:"
    %li
      %h4
        %p
        = "US #{number_to_currency product.price, locale: :en}"
        - if product.price
          %small= "#{number_to_currency product.price * @exchange_rate}@#{number_to_currency @exchange_rate, locale: :en}"
        %p
        = "JP #{number_to_currency(product.cost)}"

      %li
        %h5= "#{t('activerecord.attributes.product.shipping_cost')}: #{number_to_currency product.shipping_cost}〜"

      %li
        %h5= "#{t('views.product.minimum_price')}: #{number_to_currency(Product.minimum_price(product), locale: :en)}"

      - if product.profit || product.profit_ebay
        %li.profit
          = "#{t('activerecord.attributes.product.profit')}:"
          - if product.profit
            %h4
              %small amazon
              - if product.profit/product.cost.to_f >= 0.1
                %span.green
                  = number_to_currency product.profit
                  = "(#{number_to_percentage(100*product.profit/product.cost, precision: 1)})"
              - elsif product.profit < 0
                %span.red
                  = number_to_currency product.profit
              - else
                = number_to_currency product.profit
                = "(#{number_to_percentage(100*product.profit/product.cost, precision: 1)}%)"

          - if product.profit_ebay
            %h4
              %small ebay
              - if product.profit_ebay/product.cost.to_f >= 0.1
                %span.green
                  = number_to_currency product.profit_ebay
                  = "(#{number_to_percentage(100*product.profit_ebay/product.cost, precision: 1)}%)"
              - elsif product.profit_ebay < 0
                %span.red
                  = number_to_currency product.profit_ebay
              - else
                = number_to_currency product.profit_ebay
                = "(#{number_to_percentage(100*product.profit_ebay/product.cost, precision: 1)}%)"
            = "#{t('views.product.sold_count')}: #{@sold_item_hash[product.id].count}"

      %li
        - if product.price
          = link_to "Amazon US", product.url, class: "btn btn-default btn-sm", target: :blank
        - if product.cost
          = link_to "Amazon JP", product.url_jp, class: "btn btn-default btn-sm", target: :blank
        = link_to "ebay US", "http://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_ff3=9&pub=5575129667&toolid=10001&campid=5337713314&customid=&icep_uq=#{URI.escape(product.title)}&icep_sellerId=&icep_ex_kw=&icep_sortBy=12&icep_catId=&icep_minPrice=&icep_maxPrice=&ipn=psmain&icep_vectorid=229466&kwid=902099&mtid=824&kw=lg", class: "btn btn-default btn-sm", target: :blank
  / /.row
