%h1 Listing products
= form_tag("/products", :method => :get) do
  .form-inline
    .field
      .float-left
        %div
          = label_tag :category
          = select_tag :category, options_for_select(@categories, :selected => params[:category]), :include_blank => true, class: "form-control"
          .checkboxes
            - if params[:profit]
              = check_box_tag :profit, 1, :checked => true
            - else
              = check_box_tag :profit, 1
            = label_tag :profit
            - if params[:sales_rank]
              = check_box_tag :sales_rank, 1, :checked => true
            - else
              = check_box_tag :sales_rank, 1
            = label_tag :sales_rank
            - if params[:ebay]
              = check_box_tag :ebay, 1, :checked => true
            - else
              = check_box_tag :ebay, 1
            = label_tag :ebay
          - if params[:manufacture]
            = hidden_tag :manufacturer, params[:manufacturer]
      .float-left
        = submit_tag "Search", class: "btn btn-default"
        = link_to 'New Product', new_product_path, class: "btn btn-default"
      .float-right= paginate @products

%table.table.table-condensed.table-striped.products
  %thead
    %tr
      %th Category
      %th Manufacturer
      %th
        Asin/
        %br
          Model
      %th Title
      %th
        Color/
        %br
          Size
      %th Features
      %th Sales rank
      %th Images
      %th Price
      %th
        Cost/
        %br
          Shipping Cost
      %th Profit
      %th.col-sm-1 Ebay
      %th
  %tbody
    - @products.each do |product|
      %tr
        %td= product.category
        %td= link_to product.manufacturer, "/products/manufacturers/#{product.manufacturer}"
        %td
          %p= product.asin
          %p= product.model
        %td= link_to product.title, product.url
        %td
          %p= product.color
          %p= product.size
        %td= product.features
        %td= number_with_delimiter product.sales_rank
        %td
          = link_to image_tag(product.image_url1.sub(/.jpg$/, "._SL75_.jpg")), product.image_url1, "data-lightbox" => product.image_url1 rescue nil
          = link_to image_tag(product.image_url2.sub(/.jpg$/, "._SL75_.jpg")), product.image_url2, "data-lightbox" => product.image_url2 rescue nil
          = link_to image_tag(product.image_url3.sub(/.jpg$/, "._SL75_.jpg")), product.image_url3, "data-lightbox" => product.image_url3 rescue nil
          = link_to image_tag(product.image_url4.sub(/.jpg$/, "._SL75_.jpg")), product.image_url4, "data-lightbox" => product.image_url4 rescue nil
          = link_to image_tag(product.image_url5.sub(/.jpg$/, "._SL75_.jpg")), product.image_url5, "data-lightbox" => product.image_url5 rescue nil
        %td
          - if product.price
            - case product.currency
            - when "USD"
              = link_to number_to_currency(product.price, :locale => :en), product.url
        %td
          - if product.cost
            %p= link_to number_to_currency(product.cost), product.url_jp
          - else
            .center
              %p -
          %p= number_to_currency product.shipping_cost
        %td
          - if product.profit
            - if product.profit/(product.price*@exchange_rate.to_f) > 0.1
              %span.green
            - elsif product.profit < 0
              %span.red
            = number_to_currency product.profit
        %td
          - unless @ebay_items[product.id].blank?
            %p
              = t("views.product.all_count")
              = number_with_delimiter @ebay_items[product.id].count
            - if @ebay_items[product.id].count > 0
              %p
                = t("views.product.sold_count")
                = number_with_delimiter @sold_items[product.id].count
                - if @sold_items[product.id].count > 0
                  %br
                  = t("views.product.highest")
                  %br
                  = "#{@locale} #{@sold_items[product.id].last}"
                  %br
                  = t("views.product.average")
                  %br
                  = "#{@locale} #{(@sold_items[product.id].inject{ |sum, el| sum + el }.to_f / @sold_items[product.id].size).round(1)}"
        %td
          = link_to 'Show', product, class: "btn btn-default btn-sm"
          %br
          = link_to 'Edit', edit_product_path(product), class: "btn btn-default btn-sm"
          %br
          = link_to 'Add', product_to_sells_path, method: "post", data: { confirm: 'Are you sure?', params: { product_to_sell: { product_id: product.id } } }, remote: true, class: "btn btn-success btn-sm"
          %br
          = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"

.float-right= paginate @products

= link_to 'New Product', new_product_path, class: "btn btn-default btn-sm"
