<h1>Listing products</h1>

<%= form_tag("/products", :method => :get) do %>
  <div class="field">
    <%= label_tag :category %><br>
    <%= select_tag :category, options_for_select(@categories, :selected => params[:category]), :include_blank => true, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= submit_tag "Search", :class => "btn btn-default" %>
  </div>
<% end %>

<p><%= link_to 'New Product', new_product_path, :class => "btn btn-default" %></p>

<%= paginate @products %>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Manufacturer</th>
      <th>
        Asin/<br>
        Model
      </th>
      <th>Title</th>
      <th>
        Color/<br>
        Size
      </th>
      <th>Features</th>
      <th>Sales rank</th>
      <!-- <th>Url</th> -->
      <!-- <th>Url jp</th> -->
      <th>Image url1</th>
      <th>Image url2</th>
      <th>Image url3</th>
      <th>Image url4</th>
      <th>Image url5</th>
      <!-- <th>Currency</th> -->
      <th>Price</th>
      <th>
        Cost/<br>
        Shipping Cost
      </th>
      <th>Profit</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.category %></td>
        <td><%= product.manufacturer %></td>
        <td>
          <p><%= product.asin %></p>
          <p><%= product.model %></p>
        </td>
        <td><%= link_to product.title, product.url %></td>
        <td>
          <p><%= product.color %></p>
          <p><%= product.size %></p>
        </td>
        <td><%= product.features %></td>
        <td><%= number_with_delimiter product.sales_rank %></td>
        <td><%= link_to image_tag(product.image_url1), product.image_url1, "data-lightbox" => product.image_url1 %></td>
        <td><%= link_to image_tag(product.image_url2), product.image_url2, "data-lightbox" => product.image_url2 %></td>
        <td><%= link_to image_tag(product.image_url3), product.image_url3, "data-lightbox" => product.image_url3 %></td>
        <td><%= link_to image_tag(product.image_url4), product.image_url4, "data-lightbox" => product.image_url4 %></td>
        <td><%= link_to image_tag(product.image_url5), product.image_url5, "data-lightbox" => product.image_url5 %></td>
        <!-- <td><%= product.currency %></td> -->
        <td>
          <% if product.price && product.currency == "USD"%>
            <%= link_to number_to_currency(product.price, :locale => "en"), product.url %>
          <% end %>
        </td>
        <td>
          <% if product.cost %>
            <p><%= link_to number_to_currency(product.cost, :locale => "ja"), product.url_jp %></p>
          <% else %>
            <div class="center"><p>-</p></div>
          <% end %>
          <p><%= number_to_currency product.shipping_cost %></p>
        </td>
        <td>
          <% if product.price && product.cost %>
            <% if (product.price*@exchange_rate - @shipping_cost - product.cost)/(product.price*@exchange_rate.to_f) > 0.1 %>
              <span class="green">
            <% elsif product.price*@exchange_rate - @shipping_cost - product.cost < 0%>
              <span class="red">
            <% end %>
            <%= number_to_currency(product.price*@exchange_rate - @shipping_cost - product.cost) %>
            </span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', product, :class => "btn btn-default" %><br>
          <%= link_to 'Edit', edit_product_path(product), :class => "btn btn-default" %><br>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>

<br>

<%= link_to 'New Product', new_product_path, :class => "btn btn-default" %>
