/ Introduction Row
.row
  .col-lg-12
    %h2.page-header
      このサイトについて
      %small 日本とアメリカのamazonの価格差を表示しています。
    %p amazon輸出においてもみんなが知りたい情報、それはどの商品で利益か取れるのかという事に尽きます。利ざやの取りやすいやすいカテゴリーの商品を見つけましょう。

%div{id: "top"}

= form_for Product.new, url: products_path, remote: true, html: {method: :get, class: "form-inline search-form"} do |f|
  .form-inline
    .field
      .float-left
        %div
          = label_tag :category
          = select_tag :category, options_for_select(@categories, :selected => params[:category]), :include_blank => true, class: "form-control"
          .checkboxes
            - if params[:profit]
              = check_box_tag :profit, 1, :checked => true
            - else
              = check_box_tag :profit, 1
            = label_tag :profit
            - if params[:sales_rank]
              = check_box_tag :sales_rank, 1, :checked => true
            - else
              = check_box_tag :sales_rank, 1
            = label_tag :sales_rank
            - if params[:ebay]
              = check_box_tag :ebay, 1, :checked => true
            - else
              = check_box_tag :ebay, 1
            = label_tag :ebay
            - if params[:image]
              = check_box_tag :image, 1, :checked => true
            - else
              = check_box_tag :image, 1
            = label_tag :image
          - if params[:manufacture]
            = hidden_tag :manufacturer, params[:manufacturer]
      .float-left
        = label_tag :low_price
        = text_field_tag :low_price, params[:low_price], class: "form-control"
        = label_tag :high_price
        = text_field_tag :high_price, params[:high_price], class: "form-control"

      .float-left
        = submit_tag "Search", class: "btn btn-default"
      .clear
      .pagination.float-right= paginate @products

.row
  .col-lg-12
    %h3.page-header
      総数
      %span{id: "count"}= number_with_delimiter @count
      品
      -# %small= "（#{@latest_item.updated.strftime('%Y/%m/%d %H:%M:%S')} 更新）"

.row
  .col-lg-12
    %div{id: "products"}= render @products

    .right= link_to t("links.back_to_top"), "#top", class: "btn btn-default"

    .right= link_to t("links.back_to_top"), "#top", class: "btn btn-default"


.pagination.float-right= paginate @products
