/ Introduction Row
.row
  .col-lg-12
    %h1.page-header
      %strong
        %small アマゾン輸出のための日米amazonの価格差を表示しています
    %p アマゾン輸出のせどりにおいてもみんなが知りたい情報、それはどの商品で利益か取れるのかという事に尽きます。利ざやの取りやすいやすいカテゴリーの商品を見つけましょう。お問い合わせはtwitterで@crudo5まで。

%div{id: "top"}

= form_for Product.new, url: @form_path, remote: true, html: {method: :get, class: "form-inline search-form"} do |f|
  .form-inline
    .field
      .float-left
        %div
          = label_tag t("activerecord.attributes.product.category")
          = select_tag :category, options_for_select(@categories, :selected => params[:category]), :include_blank => true, class: "form-control"
          .checkboxes
            - if params[:profit]
              = check_box_tag :profit, 1, :checked => true
            - else
              = check_box_tag :profit, 1
            = label_tag :profit, t("activerecord.attributes.product.profit")
            - if params[:sales_rank]
              = check_box_tag :sales_rank, 1, :checked => true
            - else
              = check_box_tag :sales_rank, 1
            = label_tag :sales_rank, t("activerecord.attributes.product.sales_rank")
            - if params[:ebay]
              = check_box_tag :ebay, 1, :checked => true
            - else
              = check_box_tag :ebay, 1
            = label_tag :ebay, t("views.product.ebay")
            - if params[:image]
              = check_box_tag :image, 1, :checked => true
            - else
              = check_box_tag :image, 1
            = label_tag :image, t("views.product.image")
          - if params[:manufacture]
            = hidden_tag :manufacturer, params[:manufacturer]
      .float-left
        = label_tag t("views.product.low_price")
        = text_field_tag :low_price, params[:low_price], class: "form-control"
        = label_tag t("views.product.high_price")
        = text_field_tag :high_price, params[:high_price], class: "form-control"

      .float-left
        = label_tag t("views.product.keyword")
        = text_field "", :keyword, value: params[:keyword], class: "form-control"

      .float-right
        = submit_tag "Search", class: "btn btn-default"
      .clear
      .pagination.float-right= paginate @products, remote: true

.row
  .col-lg-12
    %h3.page-header
      %span.category-name{data:{no_turbolink: true}}
        - if params[:category_name]
          = params[:category_name]
          - if params[:keyword].blank?
            = link_to "X", root_path, class: "btn btn-default btn-sm"
          - else
            = link_to "X", "#{root_path}?keyword=#{params[:keyword]}", class: "btn btn-default btn-sm"
      総数
      %span{id: "count"}= number_with_delimiter @count
      品
      - if @latest_product
        %small= "（#{@latest_product.updated_at.strftime('%Y/%m/%d %H:%M:%S')} 更新）"

.row
  .col-lg-12
    %div{id: "products"}= render @products

    .clear.right= link_to t("links.back_to_top"), "#top", class: "btn btn-default"

.pagination.float-right= paginate @products, remote: true
