%table.table.table-bordered
  %tr
    %th
      %strong Ebay Category ID
    %td= @product_to_sell.category_id
  %tr
    %th
      %strong Asin
    %td
      = @product_to_sell.product.asin
      [
      = link_to "US", @product_to_sell.product.url, target: :blank
      |
      = link_to "JP", "#{URI.decode(@product_to_sell.product.url_jp).sub(/\?.+$/, '')}#{AMAZON_ASSOCIATE_JP}", target: :blank rescue nil
      ]
  %tr
    %th
      %strong Category
    %td= @product_to_sell.product.category
  %tr
    %th
      %strong Manufacturer
    %td= @product_to_sell.product.manufacturer
  %tr
    %th
      %strong Model
    %td= @product_to_sell.product.model
  %tr
    %th
      %strong Title
    %td
      = "#{@product_to_sell.product.title}(#{@product_to_sell.product.title.size})"
      = link_to t("links.edit"), edit_product_path(@product_to_sell.product)
  %tr
    %th
      %strong Color
    %td= @product_to_sell.product.color
  %tr
    %th
      %strong Size
    %td= @product_to_sell.product.size
  %tr
    %th
      %strong Weight
    %td
      = @product_to_sell.product.weight
      - if @product_to_sell.product.weight > 220
        = surround "(", "kg)" do
          = (@product_to_sell.product.weight.to_f / 100 * 0.454).round(2)
      - else
        = surround "(", "g)" do
          = (@product_to_sell.product.weight.to_f * 4.54).round(0)
  %tr
    %th
      %strong Features
    %td= @product_to_sell.product.features
  %tr
    %th
      %strong Sales rank
    %td= number_with_delimiter @product_to_sell.product.sales_rank
  %tr
    %th
      %strong Images
    %td
      = link_to image_tag(@product_to_sell.product.image_url1.sub(/.jpg$/, "._SL160_.jpg")), @product_to_sell.product.image_url1, "data-lightbox" => @product_to_sell.product.image_url1 rescue nil
      = link_to image_tag(@product_to_sell.product.image_url2.sub(/.jpg$/, "._SL160_.jpg")), @product_to_sell.product.image_url2, "data-lightbox" => @product_to_sell.product.image_url2 rescue nil
      = link_to image_tag(@product_to_sell.product.image_url3.sub(/.jpg$/, "._SL160_.jpg")), @product_to_sell.product.image_url3, "data-lightbox" => @product_to_sell.product.image_url3 rescue nil
      = link_to image_tag(@product_to_sell.product.image_url4.sub(/.jpg$/, "._SL160_.jpg")), @product_to_sell.product.image_url4, "data-lightbox" => @product_to_sell.product.image_url4 rescue nil
      = link_to image_tag(@product_to_sell.product.image_url5.sub(/.jpg$/, "._SL160_.jpg")), @product_to_sell.product.image_url5, "data-lightbox" => @product_to_sell.product.image_url5 rescue nil
  %tr
    %th
      %strong Price
    %td
      - if @product_to_sell.product.price
        - case @product_to_sell.product.currency
        - when "USD"
          = link_to number_to_currency(@product_to_sell.product.price, :locale => :en), @product_to_sell.product.url, target: :blank
  %tr
    %th
      %strong Cost
    %td= link_to number_to_currency(@product_to_sell.product.cost), "#{@product_to_sell.product.url_jp.sub(/\?.+$/, '')}#{AMAZON_ASSOCIATE_JP}", target: :blank if @product_to_sell.product.cost
  %tr
    %th
      %strong Shipping cost
    %td= number_to_currency @product_to_sell.product.shipping_cost
  %tr
    %th
      %strong Profit
    %td
      - if @product_to_sell.product.price && @product_to_sell.product.cost
        %p
          [amazon]
          %br
          - if @profit/@product_to_sell.product.cost.to_f > 0.1
            %span.green
              = number_to_currency @profit
              %br
              = "(#{(100*@profit/@product_to_sell.product.cost).round(0)}%)"
          - elsif @profit < 0
            %span.red
              = number_to_currency @profit
          - else
            = number_to_currency @profit
            %br
            = "(#{(100*@profit/@product_to_sell.product.cost).round(0)}%)"
      - unless @sold_items.blank?
        %p
          [ebay]
          %br
          - if @product_to_sell.product.cost
            - if @profit/@product_to_sell.product.cost.to_f > 0.2
              %span.green
                = number_to_currency @profit
                %br
                = "(#{(100*@profit/@product_to_sell.product.cost).round(0)}%)"
            - elsif @profit < 0
              %span.red
                = number_to_currency @profit
            - else
              = number_to_currency @profit
              %br
              = "(#{(100*@profit/@product_to_sell.product.cost).round(0)}%)"
  %tr
    %th
      %p
        %strong Ebay Items
      .left
        = t("views.product.all_count")
        = @ebay_items.count
        %br
        = t("views.product.sold_count")
        = number_with_delimiter @sold_items.count
        - if @average
          %br
          = t("views.product.average")
          = "#{@locale} #{number_with_delimiter @average}"
    %td
      %ul
        - @ebay_items.each do |item|
          %li
            = link_to item.title, ebay_item_path(item)
            - if item.selling_state == "EndedWithSales"
              %b.green= item.selling_state
            - elsif item.selling_state == "EndedWithoutSales"
              %span.red= item.selling_state
            = link_to "(#{item.current_price_currency_id} #{item.current_price_value}@#{item.end_time.strftime('%Y/%m/%d')})", item.view_item_url
      %p.right= link_to "More on Advanced Search at ebay.com", "http://www.ebay.com/sch/i.html?_nkw=#{URI.escape(@product_to_sell.product.title)}"
= link_to 'Edit', edit_product_to_sell_path(@product_to_sell), :class => "btn btn-default"
= link_to 'Refresh', "#{refresh_products_path}/#{@product_to_sell.product.id}", :class => "btn btn-default"
= link_to 'Destroy', @product_to_sell, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
= link_to 'Back', session[:previous_page], :class => "btn btn-default"
